/esod_data.csv
/uscrn_combined.csv
/balancing_authority_reference.csv
/solar_weighted_power.csv
/wind_weighted_power.csv
/solar_power.csv
/wind_power.csv
/weighted_wind.csv
/weighted_solar.csv
/final_solar.csv
/final_wind.csv
